<html>
  <head>
    <%= partial('title.ejs') %>
  </head>
  <body class="d-flex text-center text-white bg-dark">
    <div class="cover-container p-3 d-flex flex-column w-100 mx-auto">
      <%= partial('nav.ejs', { name: 'Tools' }) %>

      <% if (tools.length == 0) { %>
      <main class="my-auto px-3">
        <h1>No tools found :(</h1>
      </main>
      <% } %>

      <div class="container my-auto">
        <div class="row row-cols-4">
          <% tools.forEach(tool => { %>
          <div class="card bg-dark col">
            <div class="card-body">
              <h5 class="card-title"><%= tool.name %></h5>
              <p class="card-text"><%= tool.description %></p>
              <a href="/tools/<%= tool.slug %>.html" class="btn btn-light">Launch</a>
            </div>
          </div>
          <% }) %>
        </div>
      </div>

      <%= partial('footer.ejs') %>
    </div>
  </body>
</html>
